name: Bot Delegation vote reminder

on:
  schedule:
    - cron: "*/15 * * * *" # Every 15 min
  workflow_dispatch: # Allows the workflow to be triggered manually -

env:
  TARGET_DEVOPS_DIR: target-devops
  DEVOPS_DIR: devops
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: stake-dao/automation-jobs
          token: ${{ secrets.GIT_ACCESS_TOKEN }}
          path: ${{ env.DEVOPS_DIR }}
          ref: main

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r ${{ env.DEVOPS_DIR }}/requirements.txt
        shell: bash

      - name: Run the vote reminder script
        run: |
          cd ${{ env.DEVOPS_DIR }}
          python script/bots/snapshot/delegation_reminder.py
        shell: bash
        env:
          PYTHONPATH: script/
          PROD: "True"
      
